# Local .terraform directories
tofu/**/.terraform/*
# Assume OpenTofu will be changing the directory name at some point
tofu/**/.tofu/*

# .tfstate files
tofu/*.tfstate
tofu/*.tfstate.*

# Crash log files
tofu/crash.log
tofu/crash.*.log

# Exclude all .tfvars files, which are likely to contain sensitive data, such as
# password, private keys, and other secrets. These should not be part of version 
# control as they are data points which are potentially sensitive and subject 
# to change depending on the environment.
tofu/*.tfvars
tofu/*.tfvars.json

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
tofu/override.tf
tofu/override.tf.json
tofu/*_override.tf
tofu/*_override.tf.json

# Include override files you do wish to add to version control using negated pattern
# !example_override.tf

# Include tfplan files to ignore the plan output of command: terraform plan -out=tfplan
# example: *tfplan*

# Ignore CLI configuration files
tofu/.terraformrc
tofu/terraform.rc
# Assume OpenTofu will be changing the names at some point
tofu/.tofurc
tofu/tofu.rc

# We're using a remote state manager, ignore any state that might be created in local testing
tofu/.terraform.lock.hcl
# Assume OpenTofu will be changing the names at some point
tofu/.tofu.lock.hcl
