{
  nixosVersion = "@nixosVersion@";
  hostName = "@hostName@";
  domain = "@domain@";
  hostId = "@hostId@";
  ip = "@ip@";
  defaultGateway = "@defaultGateway@";
  dns = "@dns@";
  adminUser = "@adminUser@";
  adminSshPublicKey = "@adminSshPublicKey@";
  rootDevice = "@rootDevice@";
}
